﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Syncfusion.EJ2
<div id="container" class="container">
    <div class="mainDisplay">


        @Html.AntiForgeryToken();
        @Html.ValidationSummary(true);
        <div id="content">

            <div>
                <h1>
                    Administraci&oacute;n de Empresas
                </h1>
                <p>
                    Este m&oacute;dulo le permite administrar las empresas existentes en la aplicaci&oacute;n.<br />
                    1. Creaci&oacute;n de empresas<br />
                    2. Listado de empresas. Haga clic en editar para modificar las configuraciones de
                    la empresa
                </p>
                <br />
            </div>
            <div>

                <input type="button" name="ctl00$ContentPlaceHolder1$btnCrearEmpresas" value="Crear Empresas" id="ctl00_ContentPlaceHolder1_btnCrearEmpresas" class="botones" onclick="CreateBusiness()" />
                <input type="button" name="ctl00$ContentPlaceHolder1$btnConsultarEmpresas" value="Consultar Empresas" id="ctl00_ContentPlaceHolder1_btnConsultarEmpresas" class="botones" onclick="ConsultBusiness()" />
            </div>
            <br />
            <div id="divConsultBusiness" style="display:none">
                @using (@Html.BeginForm("Consult", "Business"))
                {

                    
                    
                        <div class="control-section">
@*@Html.EJS().Grid("InlineEdit").DataSource((IEnumerable<object>)ViewBag.dataSource).Columns(col =>*@
@Html.EJS().Grid("DialogEdit").DataSource(dataManager =>{

    dataManager.Url("~/Administration/Index").InsertUrl("/Administration/Index").
    UpdateUrl("~/Controllers/AdministrationController/Index").RemoveUrl("/Grid/Delete"); }).Columns(col =>


   {

       col.Field("CodigoEmpresa").HeaderText("Order ID").IsPrimaryKey(true).Width("120").ValidationRules(new { required = true }).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Add();
       col.Field("RazonSocial").HeaderText("Customer Name").Width("150").ValidationRules(new { required = true, minLength = 3 }).Add();
       col.Field("Nit").HeaderText("Freight").Width("120").EditType("numericedit").ValidationRules(new { required = true }).Format("C2").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Add();
       col.Field("Direccion").HeaderText("Order Date").EditType("datepickeredit").Format("yMd").Width("150").Add();
       col.Field("Telefono").HeaderText("Ship Country").Width("150").EditType("dropdownedit").Add();
       col.Field("Verified").HeaderText("Verified").EditType("booleanedit").DisplayAsCheckBox(true).Type("boolean").Width("150").Add();

   }).AllowPaging().PageSettings(page => page.PageCount(2)).EditSettings(edit => { edit.AllowAdding(false).AllowEditing(true).AllowDeleting(false).Mode(Syncfusion.EJ2.Grids.EditMode.Dialog); }).Toolbar(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" }).Render()
                        </div>
                }

    <script>

    


   
    </script>

                 
            </div>
            <div id="divCreateBusiness" style="display:none">

                <table cellpadding="2" cellspacing="0" align="center" border="0" style="text-align: left">
                    <tr>
                        <td align="left">
                            Código de la empresa:
                        </td>
                        <td>
                            <input name="ctl00$ContentPlaceHolder1$EditCompanies1$txtCodeCompany" type="text" maxlength="6" id="ctl00_ContentPlaceHolder1_EditCompanies1_txtCodeCompany" class="camposTexto" style="width:200px;" />

                        </td>
                        <td valign="middle">
                            <span id="ctl00_ContentPlaceHolder1_EditCompanies1_rfvCodeCompany" style="color:Red;visibility:hidden;">*</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            Razón social de la empresa:
                        </td>
                        <td>
                            <input name="ctl00$ContentPlaceHolder1$EditCompanies1$txtRazonSocial" type="text" maxlength="200" id="ctl00_ContentPlaceHolder1_EditCompanies1_txtRazonSocial" class="camposTexto" style="width:200px;" />

                        </td>
                        <td valign="middle">
                            <span id="ctl00_ContentPlaceHolder1_EditCompanies1_rfvRazonSocial" style="color:Red;visibility:hidden;">*</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            NIT:
                        </td>
                        <td>
                            <input name="ctl00$ContentPlaceHolder1$EditCompanies1$txtNitCompany" type="text" maxlength="15" id="ctl00_ContentPlaceHolder1_EditCompanies1_txtNitCompany" class="camposTexto" style="width:200px;" />
                            &nbsp;
                        </td>
                        <td valign="middle">
                            <span id="ctl00_ContentPlaceHolder1_EditCompanies1_rfvNitCompany" style="color:Red;visibility:hidden;">*</span><span id="ctl00_ContentPlaceHolder1_EditCompanies1_CustomValidator1" style="color:Red;visibility:hidden;">*</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            Dirección:
                        </td>
                        <td>
                            <textarea name="ctl00$ContentPlaceHolder1$EditCompanies1$txtAddressCompany" rows="3" cols="20" id="ctl00_ContentPlaceHolder1_EditCompanies1_txtAddressCompany" class="camposTexto" style="width:200px;"></textarea>&nbsp;
                        </td>
                        <td valign="middle">
                            <span id="ctl00_ContentPlaceHolder1_EditCompanies1_rfvAddressCompany" style="color:Red;visibility:hidden;">*</span>
                            <span id="ctl00_ContentPlaceHolder1_EditCompanies1_CustomValidator2" style="color:Red;visibility:hidden;">*</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            Teléfono:
                        </td>
                        <td>
                            <input name="ctl00$ContentPlaceHolder1$EditCompanies1$txtTelephoneCompany" type="text" maxlength="20" id="ctl00_ContentPlaceHolder1_EditCompanies1_txtTelephoneCompany" class="camposTexto" style="width:200px;" />

                        </td>
                        <td valign="middle">
                            <span id="ctl00_ContentPlaceHolder1_EditCompanies1_rfvTelephoneCompany" style="color:Red;visibility:hidden;">*</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            Fax:
                        </td>
                        <td>
                            <input name="ctl00$ContentPlaceHolder1$EditCompanies1$txtFaxCompany" type="text" maxlength="20" id="ctl00_ContentPlaceHolder1_EditCompanies1_txtFaxCompany" class="camposTexto" style="width:200px;" />

                        </td>
                        <td valign="middle"></td>
                    </tr>
                    <tr>
                        <td align="left">
                            País:
                        </td>
                        <td>
                            <select name="ctl00$ContentPlaceHolder1$EditCompanies1$ddlPais" id="ctl00_ContentPlaceHolder1_EditCompanies1_ddlPais" class="camposTexto" style="width:200px;">
                                <option value=""></option>

                            </select>
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$EditCompanies1$cddPaises_ClientState" id="ctl00_ContentPlaceHolder1_EditCompanies1_cddPaises_ClientState" />
                        </td>
                        <td valign="middle"></td>
                    </tr>
                    <tr>
                        <td align="left">
                            Departamento:
                        </td>
                        <td>
                            <select name="ctl00$ContentPlaceHolder1$EditCompanies1$ddlDepartamento" id="ctl00_ContentPlaceHolder1_EditCompanies1_ddlDepartamento" class="camposTexto" style="width:200px;">
                                <option value=""></option>

                            </select>
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$EditCompanies1$cddDepartamentos_ClientState" id="ctl00_ContentPlaceHolder1_EditCompanies1_cddDepartamentos_ClientState" />
                        </td>
                        <td valign="middle"></td>
                    </tr>
                    <tr>
                        <td align="left">
                            Ciudad:
                        </td>
                        <td>
                            <select name="ctl00$ContentPlaceHolder1$EditCompanies1$ddlCiudad" id="ctl00_ContentPlaceHolder1_EditCompanies1_ddlCiudad" class="camposTexto" style="width:200px;">
                                <option value=""></option>

                            </select>
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$EditCompanies1$cddCiudades_ClientState" id="ctl00_ContentPlaceHolder1_EditCompanies1_cddCiudades_ClientState" />
                        </td>
                        <td valign="middle">
                            <span id="ctl00_ContentPlaceHolder1_EditCompanies1_requieredCiudad" style="color:Red;visibility:hidden;">*</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" align="left">
                            <input type="submit" name="ctl00$ContentPlaceHolder1$EditCompanies1$btnGuardar" value="Guardar" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$ContentPlaceHolder1$EditCompanies1$btnGuardar&quot;, &quot;&quot;, true, &quot;requeridos&quot;, &quot;&quot;, false, false))" id="ctl00_ContentPlaceHolder1_EditCompanies1_btnGuardar" class="botones" />
                            <input type="submit" name="ctl00$ContentPlaceHolder1$EditCompanies1$btnCancelar" value="Cancelar" id="ctl00_ContentPlaceHolder1_EditCompanies1_btnCancelar" class="botones" />
                            <div id="ctl00_ContentPlaceHolder1_EditCompanies1_ValidationSummary1" style="color:Red;display:none;">

                            </div>
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$EditCompanies1$hdCodigoEmpresa" id="ctl00_ContentPlaceHolder1_EditCompanies1_hdCodigoEmpresa" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                    </tr>
                </table>

            </div>


        </div>

    </div>
</div>

<script type="text/javascript">
    function CreateBusiness() {
        $("#divCreateBusiness").show();
        $("#divConsultBusiness").hide();

    };
    function ConsultBusiness() {
        $("#divConsultBusiness").show();
        $("#divCreateBusiness").hide();
    };

</script>



