*
{
	margin: 0;
}
body
{
	/*font: 0.76em Verdana,Tahoma,Arial,sans-serif;*/
  font-family: 'Roboto', sans-serif;
	line-height: 1.4em;
	text-align: center;
	color: #323232;
	/*background: #F9F9EE url(./images/font.png) repeat-x center top;*/
  background-color: #e7e7e7;

}
#container
{
	/*
	background: #fff;
	border: 0.1em solid #777;
	color: #323232;
	margin: 2em auto;
	text-align: left;
	width: 80em;
	*/
}
#header
{
  background-color: #FFF;
  margin: 0 0 20px 0;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.3);
  /*
	height: 10.1em;
	width: 78.95em;
	background: #D23326;
	color: #fff;
	border: 0.1em solid #A4A4A4;
	margin: 0.5em;
  */
}



#title
{
	/*font-size: 18px;*/
}
#subtitle
{
	/*font-size: 16px;*/
}
#userIdentification
{
	color: #643aae;
	padding-right: 7px;
	font-weight: bold;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 14px;
	margin: 105px 20px 0 0;
}
/*
#navigation
{
// float: right;
display: block;
margin: 0px;
padding: 0px;
margin-left: 0px;
line-height: 20px;
color: #ccc;
margin-right: 15px;
white-space: nowrap;
padding-bottom: 7px;
min-width: 250px;
}

#navigation li
{
	list-style-type: none;
	white-space: nowrap;
	font-family:Verdana;
}
#navigation li a
{
	display: block;
	width: 100%;
	padding: 5px;
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
	text-decoration: none;
	color: #444;
	border: 0.0em solid #ddd;
	margin-bottom: 0.2em;
	text-align: center;
	background-color: #F9F9EE;
	transition: all ease 0.5s;
	text-align: left;
}
#navigation li a:hover
{
  color: #fff;
  text-decoration: none;
  background-color: #5c379d;
}
*/
#navigation li b
{
	display: block;
	width: 100%;
	padding: 5px 10px;
  font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: none;
	color: White;
	border: 0.1em solid #ddd;
	margin-bottom: 0.2em;
	text-align: center;
	background-color: #6a3eb9;
  transition: all ease 0.5s;
}
#navigation li b:hover{
  background-color: #5c379d;
}

.navSite{
	// float: right;
	display: block;
	margin: 0px;
	padding: 0px;
	margin-left: 0px;
	line-height: 20px;
	color: #ccc;
	margin-right: 15px;
	white-space: nowrap;
	padding-bottom: 7px;
	min-width: 250px;
}
.navSite {
	list-style: none;
	margin: 0;
	padding: 0;
}
.navSite li{
	float: left;

}
.navSite li a{
	font-family: 'Roboto', sans-serif;
	background-color: #FFF;
	font-weight: bold;
	color: #4d4d4d;
	transition: all ease 0.5s;
	font-size: 12px;
	padding: 36px 10px 25px;
	display: block;
	width: 100%;
	text-transform: uppercase;
	text-decoration: none;
	color: #444;
	border: 0.0em solid #ddd;
	margin-bottom: 0.2em;
	text-align: center;
	text-align: left;

}
.navSite li a:focus{
	color: #643aae;
	outline: none;
}

.navSite li a:hover{
	color: #643aae;
}

.navSite .subMenu{
	background-color: #FFF;
	position: absolute;
	z-index: 99;
	list-style: none;
	margin: 0;
	padding: 0;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
	display: none;
}
.navSite .subMenu li{
	float: none;
}
.navSite .subMenu li a{
	padding: 5px 20px 5px 20px;
}


.mainDisplay{
  background-color: #fff;
  display: inline-block;
  padding: 20px;
  width: 100%;
}

#content
{
	/*font-size: 0.9em;*/
	/*margin-right: 17em;*/
	padding: 10px;
}
#content p
{
  text-align: left;
}

#content h1
{
	margin: 0 0 10px 0;
	/*font-size: 2em;*/
	/*font-weight: bold;*/
	/*letter-spacing: -1px;*/
	color: #643aae;

}
#content h2
{
	margin: 0 0 0.3em 0;
	/*font-size: 1.7em;*/
	font-weight: normal;
	letter-spacing: -1px;
	color: #222;
}
#content h3
{
	margin: 0.7em 0 0.3em 0;
	/*font-size: 1.4em;*/
	letter-spacing: -1px;
	color: #222;
	font-weight: normal;
}
#content a
{
	color: #2E2E2E;
	font-weight: bold;
	text-decoration: none;
}
#content a:hover
{
	color: #2E2E2E;
	text-decoration: underline;
}
#content img
{
	padding: 1px;
	margin-right: 6px;
	border: 0.1em solid #777;
}
#content table{
  margin: 20px auto;
}
#content table tr td{
  padding: 0 3px;
  text-align: left;
}
tr.encabezados th{
  padding: 5px !important;
  text-align: left;
}
.contenidos td{
  padding: 5px !important;
  text-align: left;
}

label{
  padding: 0 3px;
}

#login
{
	width: 100%;
}
#login .botones
{
	width: 100% !important;
}

#login table
{
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
#login table tr td
{
  padding: 0 5px;
}

input[type="text"], #login input[type="password"], select
{
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
  margin: 0 0 5px;

}

.buttonLogout{
	font-size: 22px;
	cursor: pointer;
	transition: all ease 0.5s;
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px 15px 0 0;
}
.buttonLogout a{
	color: #444;
}
.buttonLogout a:hover{
	color: #643aae;
}
.buttonLogout:hover{
	color: #643aae;
}

.grids
{
	border: 1px solid #2E2E2E;
	border-collapse: collapse;
	width: 100%;
}
.encabezados
{
	background-color: #797979;
	border: 1px solid #2F4A6C;
	color: #fff;
	padding: 4px;
}
.contenidos
{
	background-color: #fff;
	border: 1px solid #2E2E2E;
	color: #323232;
	padding: 4px;
	text-align: center;
}
.camposTexto
{
	background-color: #F9F9EE;
	border: 1px solid #ccc;
  margin: 0 0 5px 0;
	color: #323232;
	/*font-family: Lucida Grande, Tahoma, Arial, Helvetica, sans-serif;*/
	font-size: 12px;
	padding: 0.2em;
}
.camposTexto:focus
{
	background-color: #FFF;
	border: 1px solid #797979;
	color: #2F4A6C;
}
.botones
{
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  padding: 10px;
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #6a3eb9;
  color: #FFF;
  border: medium none;
  transition: all 0.5s ease 0s;
  /*width: 100%;*/


	/*background-color: #797979;
	color: white;
	font-weight: bold;
	border-bottom: gray 1px solid;
	border-left: gray 1px solid;
	border-top: gray 1px solid;
	border-right: gray 1px solid;*/
}
.botones:hover{
  background-color: #5c379d;
}

.botones2
{
  /*
	display: block;
	width: 16em;
	padding: 0 0.6em;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: White;
	border: 0.1em solid #ddd;
	margin-bottom: 0.2em;
	text-align: center;
	background-color: #D23326;
  */
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  padding: 10px;
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #6a3eb9;
  color: #FFF;
  border: medium none;
  transition: all 0.5s ease 0s;
}
.botones2:hover{
  background-color: #5c379d;
  color: #FFF;
  text-decoration: none;
}
.botones2:focus{
  background-color: #5c379d;
  color: #FFF;
  text-decoration: none;
}


#footer
{
	clear: both;
	width: 100%;
	margin-top: 15px;
	padding: 10px 0;
	color: #f0f0f0;
	background-color: #6a3eb9;
	/*border: 0.1em solid #A4A4A4;*/
	text-align: center;
}
#footer a
{
	color: #f0f0f0;
	background-color: inherit;
	font-weight: bold;
}
#footer a:hover
{
	color: #fff;
	text-decoration: underline;
}
.headerImage
{
	/*width: 13.2em;*/
	/*height: 9.9em;*/
	float: left;
	border: none;
	/*margin-left: 2em;*/
}
/*Modal Popup*/
.modalBackground
{
	background-color: Black;
	filter: alpha(opacity=70);
	opacity: 0.7;
}
.modalPopup
{
	background-color: white;
	border-width: 1px;
	border-style: solid;
	border-color: Gray;
	padding: 0px;
	width: 250px;
}
.titulosPopups
{
	text-align: left;
	padding-bottom: 2px;
	margin-bottom: 7px;
	background-color: #797979;
	padding-left: 2px;
	padding-right: 2px;
	font-family: Verdana;
	/*font-size: 10pt;*/
	color: white;
	vertical-align: middle;
	font-weight: bold;
	padding-top: 2px;
}
