* {
  margin: 0;
  padding: 0;
}
body,
html {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Lato';
}
.contentLogin {
  background-color: rgba(0, 0, 0, 0.3);
  color: #FFF;
  width: 100%;
  max-width: 340px;
  margin: auto;
  padding: 20px;
}
.btnBigotes {
  width: 100%;
  background-color: #6a3eb9;
  transition: all ease 0.5s;
  border: none;
}
.btnBigotes:hover {
  background-color: #583498;
}
.whiteLink {
  color: #FFF;
}
.whiteLink:hover,
.whiteLink:active,
.whiteLink:focus,
.whiteLink:link,
.whiteLink:visited {
  color: #FFF;
  text-decoration: none;
}
.footer {
  width: 100%;
  color: #6a3eb9;
  position: fixed;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3) !important;
  padding: 10px;
  font-size: 12px;
  font-weight: 300;
}
.footer a{
  color: #FFF;
}
.purpleLink {
  color: #6a3eb9;
  transition: all ease 0.5s;
}
.purpleLink:hover {
  color: #FFF;
}
/******* SUPERSIZED ******/
#supersized-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  text-indent: -999em;
}
#supersized {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: -999;
  height: 100%;
  width: 100%;
}
#supersized img {
  width: auto;
  height: auto;
  position: relative;
  outline: none;
  border: none;
}
#supersized a {
  z-index: -30;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111;
  display: block;
}
#supersized a.image-loading {
  width: 100%;
  height: 100%;
}
