*{
	margin: 0;
	padding: 0;
}

body, html{
	width: 100%;
	height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 12px;
    background-color: #e7e7e7;
    color: #4d4d4d;
}

a{
	&:active, &:focus, &:link, &:visited {
		outline: none !important;
	}
}

.mainBrand{
	img{
		float: left;
		padding: 10px;
	}

	.nameUser{
		padding: 10px 10px;
		margin: 10px 0 10px 20px;
		float: left;
		color: #643aae;
		font-weight: 700;
		text-transform: uppercase;
		border-left: solid 1px #cccccc;
		border-right: solid 1px #cccccc;
	}
}

.navBigotes{
	font-weight: 700;

	a{
		color: #cccccc;

		&.active{
			color: #643aae !important;
		}
	}
}


.mainLeftZone{
	background-color: #f2f2f2;
	padding-top: 20px;
	padding-bottom: 20px;
}
.mainRightZone{
	background-color: #FFFFFF;
	border-left: 1px #cfcfcf solid;
	font-size: 14px;
	margin: 0 0 80px 0;
}

/********** HOME *************/
.tableStatusPro{
	td{
		padding: 5px 0;
	}
	line-height: 14px;
}

.statusProject{
	width: 12px;
	height: 12px;
	
	display: inline-block;
	border-radius: 50%;
	margin: 5px 5px 0 0;

	&.new{ background-color: #FFF; border: solid 2px #c2c2c2;}
	&.complet{ background-color: #64A079;}
	&.process{ background-color: #D68A22;}
	&.cancel{ background-color: #681800;}
	&.pending{ background-color: #B6BD4B;}
	&.trafic{ background-color: #4B155E;}
}


/********** HOME *************/
.subNavLeft{
	list-style: none;

	li a{
		width: 100%;
		display: block;
		padding: 10px 5px;
		border-radius: 3px;
		text-align: center;
		background-color: #4d4d4d;
		color: #FFF;
		margin: 5px 0;
		font-weight: bold;
		transition: all ease 0.5s;

		&:hover{
			text-decoration: none;
			background-color: #6a3eb9;
			outline: none;
		}
		&:hover, &:active, &:visited, &:focus{
			text-decoration: none;
			outline: none;
		}

		&.active{
			text-decoration: none;
			background-color: #6a3eb9;
		}
	}
}
/*****************************/

.textTitle{
	color: #643aae;
	font-size: 18px;
	padding: 5px 0;
	border-bottom: 1px solid #e5e5e5;

	strong{
		text-transform: uppercase;
	}
}
/********** HOME *************/
.textWelcome{
	color: #643aae;
	font-size: 24px;
	padding: 20px;
	border-bottom: 1px solid #e5e5e5;

	strong{
		text-transform: uppercase;
	}
}
	.lastConexion{
		font-size: 12px;
		color: #b0b0b0;
		clear: both;
		padding: 10px 0;
	}

	.mainTableOts{
		width: 100%;
	}
.btnStatusOt{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: none;
}

	.otStnueva{
		background-color: #ff9000;
	}
	.otStmas_datos{
		background-color: #643aae;
	}
	.otStaceptada{
		background-color: #ff7a7a;
	}
	.otStconfirmada{
		background-color: #009fe3;
	}
	.otStasignada{
		background-color: #fff204;
	}
	.otStresuelta{
		background-color: #;
	}
	.otStcerrada{
		background-color: #e4e4e4;
	}

.profileActive{
	width: 12px;
	height: 12px;
	background-color: #64A079;
	display: inline-block;
	border-radius: 50%;
	margin: 5px 0 0 2px;
}
.profileInactive{
	width: 12px;
	height: 12px;
	background-color: #A74054;
	display: inline-block;
	border-radius: 50%;
	margin: 5px 0 0 2px;
}
.linkSite{
	color: #4d4d4d;
	transition: all ease 0.5s;

	&:hover{
		color: #643aae;
	}

}

.totOTS{
	background-color: #4d4d4d;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	color: #FFFFFF;
	font-size: 100px;
	line-height: 180px;
	font-weight: bold;
	text-align: center;
	margin: 40px auto;
}

.lineSeparator{
	width: 100%;
	height: 1px;
	background-color: #e6e6e6;
}

h3.title{
	font-size: 18px;

}

.btnSite{
	background-color: #4d4d4d;
	color: #FFFFFF;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border: none;
	transition: all ease 0.5s;


	&:hover{
		text-decoration: none;
		background-color: #6a3eb9;
		color: #FFFFFF;
	}
}
.btnSite2{
	background-color: #4d4d4d;
	color: #FFFFFF;
	// width: 100%;
	// padding-top: 10px;
	// padding-bottom: 10px;
	border: none;
	transition: all ease 0.5s;

	&:hover{
		text-decoration: none;
		background-color: #6a3eb9;
		color: #FFFFFF;
	}
}

.btnSiteDanger{
	background-color: #A74054;
	color: #FFFFFF;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	transition: all ease 0.5s;

	&:hover{
		text-decoration: none;
		background-color: #943749;
		color: #FFFFFF;
	}
}

.itemsErrors{
	margin-left: 20px;
}

/********** SECCTION OT *************/
.formFilesOt{
	padding: 20px;
	margin: 20px 0 0;
	background-color: #f5f5f5;
}


/***************************/
.footer{
  width: 100%;
  color: #6a3eb9;
  bottom: 0;
  background-color: #f8f8f8;
  padding: 10px;
  font-size: 12px;
  font-weight: 300;
}

.purpleLink{
  color: #6a3eb9;
  transition: all ease 0.5s;

  &:hover{
    color: #6a3eb9;
  }
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
