﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Helper</title>   
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700" rel="stylesheet" type="text/css" />
  

    <script language="javascript" type="text/javascript">
        function textarea_max(source, arguments){
            if(arguments.Value.length <= 400){
                arguments.IsValid = true;
            }else{
                arguments.IsValid = false;
            }
        }
        function passwordsize_min(source, arguments){
            if(arguments.Value.length < 5){
                arguments.IsValid = false;
            }else{
                arguments.IsValid = true;
            }
        }
        function openWin(url1,url2)
        {
            window.open(url1,'bla1', '_blank');
            window.open(url2,'bla2', '_blank');
        }
    </script>

    <link href="../App_Themes/AdminTheme/frontend/bootstrap.css" type="text/css" rel="stylesheet" />
    <link href="../App_Themes/AdminTheme/frontend/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="../App_Themes/AdminTheme/frontend/bootstrap-theme.css" type="text/css" rel="stylesheet" />
    <link href="../App_Themes/AdminTheme/frontend/bootstrap-theme.min.css" type="text/css" rel="stylesheet" />
    <link href="../App_Themes/AdminTheme/frontend/datepicker/bootstrap-datetimepicker.css" type="text/css" rel="stylesheet" />
    <link href="../App_Themes/AdminTheme/frontend/font-awesome.css" type="text/css" rel="stylesheet" />
    <link href="../App_Themes/AdminTheme/frontend/login.css" type="text/css" rel="stylesheet" />
    <link href="../App_Themes/AdminTheme/frontend/main.css" type="text/css" rel="stylesheet" />
    <link href="../App_Themes/AdminTheme/StyleSheet.css" type="text/css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../App_Themes/AdminTheme/frontend/bootstrap.css" />
    <link rel="stylesheet" href="../App_Themes/AdminTheme/frontend/bootstrap-theme.css" />
    <link rel="stylesheet" href="../App_Themes/AdminTheme/frontend/font-awesome.css" />
    <link rel="stylesheet" href="../App_Themes/AdminTheme/frontend/main.css" />

    <script language="javascript" type="text/javascript">
        function textarea_max(source, arguments) {
            if (arguments.Value.length <= 400) {
                arguments.IsValid = true;
            } else {
                arguments.IsValid = false;
            }
        }
        function passwordsize_min(source, arguments) {
            if (arguments.Value.length < 5) {
                arguments.IsValid = false;
            } else {
                arguments.IsValid = true;
            }
        }
        function openWin(url1, url2) {
            window.open(url1, 'bla1', '_blank');
            window.open(url2, 'bla2', '_blank');
        }
    </script>

    <link href="../App_Themes/AdminTheme/frontend/bootstrap.css" type="text/css" rel="stylesheet" />
    <link href="../App_Themes/AdminTheme/frontend/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="../App_Themes/AdminTheme/frontend/bootstrap-theme.css" type="text/css" rel="stylesheet" />
    <link href="../App_Themes/AdminTheme/frontend/bootstrap-theme.min.css" type="text/css" rel="stylesheet" />
    <link href="../App_Themes/AdminTheme/frontend/datepicker/bootstrap-datetimepicker.css" type="text/css" rel="stylesheet" />
    <link href="../App_Themes/AdminTheme/frontend/font-awesome.css" type="text/css" rel="stylesheet" />
    <link href="../App_Themes/AdminTheme/frontend/login.css" type="text/css" rel="stylesheet" />
    <link href="../App_Themes/AdminTheme/frontend/main.css" type="text/css" rel="stylesheet" />
    <link href="../App_Themes/AdminTheme/StyleSheet.css" type="text/css" rel="stylesheet" />
</head>
<body>
    
        <div>
            <input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
            <input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
            <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUJNTUzMDk5MDMwD2QWAmYPZBYCAgMPZBYEAgUPZBYCAgEPZBYCZg8PFgIeBFRleHQFFlVzdWFyaW86IEFkbWluaXN0cmFkb3JkZAIHD2QWBAIFDw8WAh4HVmlzaWJsZWhkFgYCIw8QZBAVAQAVAQAUKwMBZxYBZmQCJw8QZBAVAQAVAQAUKwMBZxYBZmQCKw8QZBAVAQAVAQAUKwMBZxYBZmQCBw8PFgIfAWhkFgICCw88KwAJAGRkGKdQ0ElLoFcdpVFqH8wPGzQviGs=" />
        </div>

        <script type="text/javascript">
            //<![CDATA[
            var theForm = document.forms['aspnetForm'];
            if (!theForm) {
                theForm = document.aspnetForm;
            }
            function __doPostBack(eventTarget, eventArgument) {
                if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
                    theForm.__EVENTTARGET.value = eventTarget;
                    theForm.__EVENTARGUMENT.value = eventArgument;
                    theForm.submit();
                }
            }
            //]]>
        </script>


        <script src="/WebResource.axd?d=Hs29wi3cYh_wx1SFxV5l2fk_KnyDwOf98b3RGioBl503lZE2eAYiQsj55nzrTlct4hMzfpAp5bOriCJP7_n_xOUkNAM1&amp;t=636284453597151108" type="text/javascript"></script>


        <script src="/ScriptResource.axd?d=DLpxJffqw-ta8sf_qRLV_nA2G077rk4nt5jtqggS-IXS1G48FBncpVhFi-AqQHCMhAzw2zWeVM9aRjqxXWj9U18dTXbPo6tAOOQLbcgjaPUlsZ4sZzMveTyklY8nczgSTu5ho4VEnKW-Qa3Gq2N6v58-v3_lRuih7X6huDIEvUrgw1U60&amp;t=636478328366051152" type="text/javascript"></script>
        <script src="/ScriptResource.axd?d=3vO1ahhFe3Z7DhY2EKKuthUhhQr-YcoasYhz5UFYcQMk7fGFSNKp8403NLg85IbMGcRwILozYcYF3N8DvBtg3Oc7BjJ5SW4yhIkuLWLm1Rq14MBT83TYsV25x31xV6SnjkEZT-OTOHB7uAJEw7k6BSr3MuVyfr21nN4nPCQEoAIa-mea0&amp;t=636478328366051152" type="text/javascript"></script>
        <div>

            <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="8B8CA4E1" />
        </div>
        <div>
            <div id="header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <img id="ctl00_headerImage" class="headerImage" src="../Objects/Images/logo.png" alt="Inventarios Logo" align="middle" style="border-width:0px;" />
                            <div style="margin-left: 13em; margin-top: 3em">
                                <span id="title" class="hidden">.:: BIG Holding Inventarios ::.</span><br />
                                <div style="text-align: center; width: 470px; padding-top: 5px">
                                    <span id="subtitle" class="hidden">Aplicación para el manejo de inventarios.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div id="navigation">
                                <div id="ctl00_adminMenu_contenedorMenu">
                                    <ul class="navSite">
                                        <li>
                                            <a href="#">Administración</a>
                                            <ul id="ctl00_adminMenu_menu1Administrador" class="subMenu">
                                                <div id="ctl00_adminMenu_amenu1Administrador">

                                                    <li><a href="AdminCompanies.aspx" id="ctl00_adminMenu_adminCompanies">Empresas</a></li>
                                                    <li><a href="AdminResolutions.aspx" id="ctl00_adminMenu_adminResolutions">Consecutivos</a></li>
                                                    <li><a href="AdminPrograms.aspx" id="ctl00_adminMenu_adminPrograms">Programas</a></li>
                                                    <li><a href="AdminProvaiders.aspx" id="ctl00_adminMenu_adminProvaiders">Proveedores</a></li>
                                                    <li><a href="AdminTrademarks.aspx" id="ctl00_adminMenu_adminMarcas">Establecimientos</a></li>
                                                    <li>
                                                        <a href="AdminTypesProducts.aspx" id="ctl00_adminMenu_adminTiposProductos">
                                                            Tipos de productos
                                                        </a>
                                                    </li>
                                                    <li><a href="AdminProducts.aspx" id="ctl00_adminMenu_adminProducts">Productos</a></li>
                                                    <li><a href="AdminReferences.aspx" id="ctl00_adminMenu_adminReferences">Referencias</a></li>
                                                    <li><a href="AdminPrices.aspx" id="ctl00_adminMenu_adminPrecios">Precios</a></li>
                                                    <li><a href="AdminWarehouses.aspx" id="ctl00_adminMenu_adminBodegas">Bodegas</a></li>
                                                    <!--
                                                    </div>-->
                                                    <!--<div id="ctl00_adminMenu_menuCargas">
                                                    -->
                                                    <li>
                                                        <a href="AlternateShippingCost/AlternateShippingCost.aspx" id="ctl00_adminMenu_cargaCostoEnvioAlterno">
                                                            Costos Alternos de Envío
                                                        </a>
                                                    </li>
                                                    <li><a href="Cargas.aspx" id="ctl00_adminMenu_adminCargas">Cargar Archivo</a></li>

                                                </div>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Prefacturación</a>
                                            <ul id="ctl00_adminMenu_menu1Prefacturacion" class="subMenu">
                                                <div id="ctl00_adminMenu_amenuPrefacturacion">

                                                    <li><a href="PreBillings.aspx" id="ctl00_adminMenu_adminPrefacturas">Proveedores</a></li>
                                                    <li>
                                                        <a href="PointsBilling.aspx" id="ctl00_adminMenu_adminFacturaEmpresa">
                                                            Empresas
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="PrefacturaCurrier.aspx" id="ctl00_adminMenu_adminPrefacturaCurrier">
                                                            Currier
                                                        </a>
                                                    </li>

                                                </div>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Facturación</a>
                                            <ul id="ctl00_adminMenu_menu1Facturacion" class="subMenu">
                                                <div id="ctl00_adminMenu_amenuFacturacion">

                                                    <li>
                                                        <a href="FacturacionEmpresa.aspx" id="ctl00_adminMenu_adminFacturasEmpresa">
                                                            Facturaci&oacute;n Empresa Cliente
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="Billings.aspx" id="ctl00_adminMenu_adminFacturas">
                                                            Facturaci&oacute;n
                                                            Clientes
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="CreditNote.aspx" id="ctl00_adminMenu_adminNotasCredito">
                                                            Notas Cr&eacute;dito
                                                            Cliente
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="CrediteNoteEmpresas.aspx" id="ctl00_adminMenu_adminNotasCreditoEmpresa">
                                                            Notas Cr&eacute;dito empresas
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="BillingReports.aspx" id="ctl00_adminMenu_adminReportesFacturacion">
                                                            Informes de Facturaci&oacute;n
                                                        </a>
                                                    </li>

                                                </div>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Contabilidad</a>
                                            <ul id="ctl00_adminMenu_menu1Contabilidad" class="subMenu">
                                                <div id="ctl00_adminMenu_amenuContabilidad">

                                                    <li>
                                                        <a href="AdminViewBalanceCheck.aspx" id="ctl00_adminMenu_adminSaldos">
                                                            Consultar
                                                            Saldos
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="AdminCloseAccountant.aspx" id="ctl00_adminMenu_adminCierresContables">
                                                            Cierres Contables
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="CGUnoIntegration.aspx" id="ctl00_adminMenu_cgunoIntegration">
                                                            Interfaz
                                                            CG-Uno
                                                        </a>
                                                    </li>
                                                    <li><a href="AdminSinister.aspx" id="ctl00_adminMenu_adminSiniestros">Siniestros</a></li>
                                                    <li><a href="Ajustes.aspx" id="ctl00_adminMenu_adminAjustes">Ajustes</a></li>
                                                    <li><a href="InventoryCharge.aspx" id="ctl00_adminMenu_AdminInventoryCharge">Carga de Inventarios</a></li>
                                                    <li><a href="../modules/Advertmind" id="ctl00_adminMenu_AdminInventoryCharge1">Interfaz Advertmind</a></li>

                                                </div>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Seguridad</a>
                                            <ul id="ctl00_adminMenu_menu1Seguridad" class="subMenu">
                                                <div id="ctl00_adminMenu_menuUsuarios">

                                                    <li><a href="Profiles.aspx" id="ctl00_adminMenu_adminPerfiles">Perfiles</a></li>
                                                    <li><a href="User.aspx" id="ctl00_adminMenu_adminUsuarios">Usuarios</a></li>

                                                </div>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Informes</a>
                                            <ul id="ctl00_adminMenu_menu1Informs" class="subMenu">
                                                <div id="ctl00_adminMenu_Panel1">

                                                    <li><a href="AdminCostInform.aspx" id="ctl00_adminMenu_a1">Costeo</a></li>
                                                    <li><a href="AdminInputAndOutPutInform.aspx" id="ctl00_adminMenu_a2">Entradas y Salidas</a></li>

                                                </div>
                                            </ul>
                                        </li>
                                    </ul>
                                    <div class="buttonLogout">
                                        <a onclick="return confirm('¿Está seguro que desea cerrar la sesión?');" id="ctl00_adminMenu_lkbLogout" class="linkExit" href="javascript:__doPostBack('ctl00$adminMenu$lkbLogout','')">
                                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                                        </a>
                                    </div>

                                    <div class="hidden">

                                        <ul id="ctl00_adminMenu_Administracion">
                                            <li>
                                                <b style="cursor: pointer;" onclick="showHideLayers('ctl00_adminMenu_menu1Administrador');">
                                                    Administración
                                                </b>
                                            </li>
                                        </ul>

                                        <ul id="ctl00_adminMenu_Prefacturacion">
                                            <li>
                                                <b style="cursor: pointer;" onclick="showHideLayers('ctl00_adminMenu_menu1Prefacturacion');">
                                                    Prefacturación
                                                </b>
                                            </li>
                                        </ul>

                                        <ul id="ctl00_adminMenu_Facturacion">
                                            <li>
                                                <b style="cursor: pointer;" onclick="showHideLayers('ctl00_adminMenu_menu1Facturacion');">
                                                    Facturación
                                                </b>
                                            </li>
                                        </ul>

                                        <ul id="ctl00_adminMenu_Contabilidad">
                                            <li>
                                                <b style="cursor: pointer;" onclick="showHideLayers('ctl00_adminMenu_menu1Contabilidad');">
                                                    Contabilidad
                                                </b>
                                            </li>
                                        </ul>
                                        <ul id="ctl00_adminMenu_Seguridad">
                                            <li>
                                                <b style="cursor: pointer;" onclick="showHideLayers('ctl00_adminMenu_menu1Seguridad');">
                                                    Seguridad
                                                </b>
                                            </li>
                                        </ul>

                                        <ul id="ctl00_adminMenu_Ul1">
                                            <li>
                                                <b style="cursor: pointer;" onclick="showHideLayers('ctl00_adminMenu_menu1Informs');">
                                                    Informes
                                                </b>
                                            </li>
                                        </ul>

                                        <ul></ul>

                                    </div>

                                </div>

                                <script language="JavaScript" type="text/JavaScript">
                                    function showHideLayers(idLayer) {
                                        if (document.getElementById(idLayer).style.display == "none") {
                                            document.getElementById(idLayer).style.display = "";
                                        } else {
                                            document.getElementById(idLayer).style.display = "none";
                                        }
                                    }
                                </script>


                            </div>
                            <div id="userIdentification">
                                <div id="ctl00_usuarioAutenitcado" style="text-align: right; padding-bottom: 5px; padding-top:5px;">

                                    <span id="ctl00_AuthenticatedUser1_lbUserAuthenticated">Usuario: Administrador</span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="container" class="container">
               
                @RenderBody()
                 
            </div>
            <div id="footer">
                &copy; 2016 <a href="#">Inventarios</a> | Powered by <a href="http://www.bigholding.com.co"
                                                                        target="_blank">Big Holding</a>
            </div>
        </div>
    

    <script src="/App_Themes/AdminTheme/js/vendor/jquery.min.js"></script>
    <script src="/App_Themes/AdminTheme/js/main.js"></script>

</body>
</html>

