﻿@model Big.Helper.UI.Models.Logistics.LoginModel

@{
    Layout = "";
    
}

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../App_Themes/AdminTheme/frontend/bootstrap.css" />
    <link rel="stylesheet" href="../App_Themes/AdminTheme/frontend/bootstrap-theme.css" />
    <link rel="stylesheet" href="../App_Themes/AdminTheme/frontend/font-awesome.css" />
    <link rel="stylesheet" href="../App_Themes/AdminTheme/frontend/login.css" />

    <link href="../App_Themes/AdminTheme/frontend/bootstrap.css" type="text/css" rel="stylesheet" />
    <link href="../App_Themes/AdminTheme/frontend/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="../App_Themes/AdminTheme/frontend/bootstrap-theme.css" type="text/css" rel="stylesheet" />
    <link href="../App_Themes/AdminTheme/frontend/bootstrap-theme.min.css" type="text/css" rel="stylesheet" />
    <link href="../App_Themes/AdminTheme/frontend/datepicker/bootstrap-datetimepicker.css" type="text/css" rel="stylesheet" />
    <link href="../App_Themes/AdminTheme/frontend/font-awesome.css" type="text/css" rel="stylesheet" />
    <link href="../App_Themes/AdminTheme/frontend/login.css" type="text/css" rel="stylesheet" />
    <link href="../App_Themes/AdminTheme/frontend/main.css" type="text/css" rel="stylesheet" />
    <link href="../App_Themes/AdminTheme/StyleSheet.css" type="text/css" rel="stylesheet" />
</head>

<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
<div>
    <div id="container" class="container">
        <div class="contentLogin">
            <br>
            <img id="ctl00_headerImage" class="img-responsive center-block" src="../Objects/Images/logo-white.png" alt="Inventarios Logo" align="middle" style="border-width:0px;" /><br>
            <div id="content">
                        
            <table width="100%">
                    <tr>
                    <td>                
                        <div id="login">
                            <table>
                                <tr>
                                    <td>
                
                                        @Html.LabelFor(model => model.User,"Usuario:")            
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @*<input name="ctl00$ContentPlaceHolder1$LoginControl1$tbUsername" type="text" maxlength="50" id="ctl00_ContentPlaceHolder1_LoginControl1_tbUsername" class="camposTexto" />*@
                                        @Html.EditorFor(model => model.User, new { @class = "camposTexto" })
                
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.Password, "Contraseña:")            
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                
                                        @Html.EditorFor(model => model.Password, new { @class="camposTexto"});
               
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="right">
                                        <input type="submit" name="ctl00$ContentPlaceHolder1$LoginControl1$btnIngresar" value="Ingresar" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$ContentPlaceHolder1$LoginControl1$btnIngresar&quot;, &quot;&quot;, true, &quot;LoginPageGroup&quot;, &quot;&quot;, false, false))" id="ctl00_ContentPlaceHolder1_LoginControl1_btnIngresar" class="botones" />
                                    </td>
                                </tr>
                            </table>
                            <table>
                            <tr>
                                <td>
                                    @Html.ValidationMessageFor(model => model.User, null, new { style = "color:Red" });
                                    @Html.ValidationMessageFor(model => model.Password, null, new { style = "color:Red" });
                
                                </td>
                            </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
            </div>
        </div>
    </div>
    <div class="footer">
        &copy; 2016 <a href="#">Inventarios</a> | Powered by <a href="http://www.bigholding.com.co"
            target="_blank">Big Holding</a>
    </div>
</div>
    
    }

    <script src="/WebResource.axd?d=Xgot_2d-BqMxRJzlhfVhqtRqa_C5eM3gw_t2PbghOWa5EOmOpURLfV_jmxwkdXwf0s2mtEsGLkB2r2vN6pASLaFmEmo1&amp;t=636284453597151108" type="text/javascript"></script>
    <script type="text/javascript">
        //<![CDATA[
        function WebForm_OnSubmit() {
            if (typeof(ValidatorOnSubmit) == "function" && ValidatorOnSubmit() == false) return false;
            return true;
        }
        //]]>
    </script>
    <script src="/App_Themes/AdminTheme/js/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="/App_Themes/AdminTheme/js/vendor/supersized.core.3.2.1.min.js"></script>
    <script src="/App_Themes/AdminTheme/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        jQuery(function($){
            $.supersized({
             slides  :   [ {image : '/Objects/Images/background.png', title : ''} ],
             vertical_center: 2
            });
        });

        $(window).bind("resize", function() {
            updateMask();
        });

        $(window).load(function(e){
            updateMask();
        });


        updateMask();

        function updateMask(){
            var maskHeight = $(window).height();
            var maskWidth = $(window).width();

            var mrgTop = ((maskHeight/2)-($(".contentLogin").height()/2))-40;

            $(".contentLogin").css({
                "margin-top": mrgTop + "px"
            });
        }

    </script>
</body>
</html>
